{
	"presets": [
		[ "es2015", {
			"modules": false
		} ],
		"stage-2",
		"react"
	],
	"plugins": [
		[ "transform-react-jsx", {
			"pragma": "createElement"
		} ],
		"lodash",
		"react-hot-loader/babel"
	]
}
